body {
  background-color: green;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.card {
  background-color: white;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  text-align: center;
  padding: 10px;
}

.corner {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
}

.top-left {
  top: 10px;
  left: 10px;
  font-size: larger;
}

.bottom-right {
  bottom: 10px;
  right: 10px;
  transform: rotate(180deg);
  font-size: larger;
}

.dibujo {
  font-size: 80px;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
